/* Main styling */
html {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.15;
}

body {
  line-height: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER and BANNER styling */
.banner {
  width: 100%;
  height: 30rem;
  padding-top: 1rem;
  background-image: url("../images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner .navigation {
  max-width: 960px;
  margin: auto;
  color: white;
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation .logo {
  padding: 1rem 0 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  margin-right: 1rem;
}

.navigation nav span {
  padding: 1rem 2rem 1rem 0;
}

.banner .banner_header {
  max-width: 960px;
  margin: auto;
  margin-top: 10rem;
  display: flex;
  justify-content: flex-end;
}

.banner_header h1 {
  margin-right: -2rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  background-color: white;
  padding: 1.5rem 5rem;
}

/* SERVICES styling */
.services {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services div {
  height: 8rem;
  max-width: 5rem;
  margin: 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.services .exams {
  max-width: 3.5rem;
}

.services img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* INFO styling */
.info {
  margin: auto;
  max-width: 960px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.info div {
  width: 35%;
}

.info .philosophy {
  margin-right: 5%;
}

.info div h4 {
  max-width: 10rem;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  color: white;
  background-color: cadetblue;
}
